<!DOCTYPE html>
{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Add user</h3><hr>
      <form method='post' action='{{url_for("add_user")}}'>
        <div class='form-group'>
          <label>Email</label>
          <input  type='email'   placeholder="sophie@example.com" name='uname' required class='form-control'>
        </div>
        <div class='form-group'>

          <input type='hidden' name='contact' required class='form-control' value='none'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>

    </div>
  </div>
{% endblock %}