:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    margin-top: 90px;
    /*position: center;*/
	/*padding: 0;*/
	/*display: flex;*/
    /*display: inline-block;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: #000000;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	/*margin: 50px;*/
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: auto;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: separate;
    width: 800px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
button{
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: rgba(252, 252, 0, 0.37);
	font-size: 1em;
	font-weight: bold;
	/*margin-top: 20px;*/
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: rgba(255, 247, 167, 0.37);
}
.message{
	text-align: center;
	color: #e0ff00;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
	text-align: center;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.1rem;
    color:#fff;
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}